.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
}

#pic {
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width:30%;
  height: 50%;
}
	

.btnsec {
  background-color: green;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
}

.btnthi {
  background-color: green;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
}

.logoutButton {
  fload: right;
  background-color: orange;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;	
}

#scr {
	font-size: 30px;
	
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}